// My Theme Colors
$aqua:          #00d2ff;
$purple:        #3a47d5;
$blue:          #0d6efd;

$petrol:        hsl(0, 2%, 80%);
$darkPetrol:    hsl(0, 2%, 50%);
$xdarkPetrol:    hsl(0, 2%, 10%);

$green:         hsl(137, 37%, 58%);
$darkGreen:     hsl(137, 37%, 40%);
$xdarkGreen:    hsl(137, 37%, 10%);

$yellow:        hsl(46, 98%, 83%);
$darkYellow:    hsl(46, 98%, 40%);
$xdarkYellow:   hsl(46, 98%, 25%);

$orange:        hsl(26, 86%, 63%);
$darkOrange:    hsl(26, 86%, 40%);
$xdarkOrange:   hsl(26, 86%, 25%);

$red:           hsl(14, 81%, 64%);
$darkRed:       hsl(14, 81%, 35%);
$xdarkRed:      hsl(14, 81%, 15%);

$pink:          hsl(1, 76%, 71%);
$darkPink:      hsl(1, 76%, 45%);
$xdarkPink:     hsl(1, 76%, 25%);

// overwrite primary, secondary
//$primary:       $petrol;
$secondary:     $purple;

// Import google font
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300;400&display=swap');

// Override headings font-family
$headings-font-family:        'Poppins', sans-serif;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer * .75,
  4: $spacer,
  5: $spacer * 1.25,
  6: $spacer * 1.5,
  7: $spacer * 1.75,
  8: $spacer * 2,
  9: $spacer * 2.25,
  10: $spacer * 2.5,
  11: $spacer * 2.75,
  12: $spacer * 3,
  13: $spacer * 3.25,
  14: $spacer * 3.5,
  15: $spacer * 3.75,
  16: $spacer * 4,
  24: $spacer * 6,
);


// Import bootstrap 5 (keep it down)
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
